<h3 nz-typography>Мои объекты</h3>
<div class="cards-wrap" nz-row [nzGutter]="[16,16]">
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" *ngFor="let obj of objects">
        <nz-card class="obj-card" nzHoverable [nzCover]="coverTemplate" [nzBodyStyle]="{display:'flex'}"
            [routerLink]="'/card/' + obj._id">
            <div class="card-content">
                <p class="address-text" nz-typography><i class="ri-map-pin-line"></i> {{obj.address}}</p>
                <nz-badge nzStatus="processing" [nzText]="obj.status"></nz-badge> <br><br>
                <nz-tag [nzColor]="'geekblue'">{{obj.type}}</nz-tag>
                <nz-tag [nzColor]="'cyan'">{{obj.area}} м&#178;</nz-tag>
                <nz-tag [nzColor]="'volcano'">{{obj.field}}</nz-tag>
            </div>
        </nz-card>
        <!-- templates for card -->
        <ng-template #coverTemplate>
            <img [src]="obj.pictures[0]" style="height: 200px; object-fit: contain;" />
        </ng-template>
    </div>
</div>