<div class="footer-wrap">
    <div class="contacts-wrap">
        <table class="contacts">
            <tbody>
                <tr>
                    <td class="contact-img"><span nz-icon nzType="mail" nzTheme="outline"></span></td>
                    <td class="contact-text">homeassistant@example.ru</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="info">
        Никакие материалы этого сайта ни при каких условиях не являются публичной офертой.
        <br>
        ©2023 YungDates
    </div>
</div>








