// .logo {
//     display: flex;
//     justify-content: center;
//     height: 150px;
//     margin-top: 0px;
// }

.block-card{
    margin: 0 auto;
}

nz-steps{
    overflow-x: scroll;
}

nz-step{
    min-width: 200px;
    margin-left: 16px;
}