<!-- <div class="logo">
    <img src="assets/icons/logo.svg" class="logo-img">
</div> -->

<div style="overflow-x: hidden">
  <h2 nz-typography style="text-align: center; margin-bottom: 16px">
    Добавить объект
  </h2>
  <nz-card class="block-card">
    <form nz-form>
      <div nz-row [nzGutter]="[8, 0]">
        <div nz-col nzXs="24" nzSm="16" nzMd="12" nzLg="8">
          <nz-form-item>
            <nz-form-label>
              <span>Описание проекта</span>
            </nz-form-label>
            <nz-form-control nzErrorTip="Пожалуйста введите описание проекта">
              <input nz-input type="text" id="name" placeholder="Введите Описание проекта" [(ngModel)]="cardInput.desc" 
                name="desc" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="8" nzMd="6" nzLg="4">
          <nz-form-item>
            <nz-form-label>
              <span>Округ</span>
            </nz-form-label>
            <nz-form-control nzErrorTip="Пожалуйста введите округ">
              <nz-select nzMode="tags" [nzMaxTagCount]="1" [nzMaxMultipleCount]="1"
                [nzMaxTagPlaceholder]="tagPlaceHolder" nzPlaceHolder="Введите округ" id="Field"
                [(ngModel)]="listOfSelectedFields" nzShowSearch nzAllowClear name="Field">
                <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
                <nz-option *ngFor="let item of listOfFields" [nzLabel]="item" [nzValue]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="8" nzMd="6" nzLg="4">
          <nz-form-item>
            <nz-form-label>
              <span>Район</span>
            </nz-form-label>
            <nz-form-control nzErrorTip="Пожалуйста введите район">
              <nz-select nzMode="tags" [nzMaxTagCount]="1" [nzMaxMultipleCount]="1"
                [nzMaxTagPlaceholder]="tagPlaceHolder2" nzPlaceHolder="Введите район" id="district"
                [(ngModel)]="listOfSelectedDistricts" nzShowSearch nzAllowClear name="district">
                <ng-template #tagPlaceHolder2 let-selectedList>and {{ selectedList.length }} more selected</ng-template>
                <nz-option *ngFor="let item of listOfDistricts" [nzLabel]="item" [nzValue]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="16" nzMd="14" nzLg="8">
          <nz-form-item>
            <nz-form-label>
              <span>Адрес</span>
            </nz-form-label>
            <nz-form-control nzErrorTip="Пожалуйста введите адрес">
              <input nz-input type="text" id="address" placeholder="Введите адрес" [(ngModel)]="cardInput.address"
                name="address" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="13" nzMd="10" nzLg="5">
          <nz-form-item>
            <nz-form-label>
              <span>Тип работ</span>
            </nz-form-label>
            <nz-form-control nzErrorTip="Пожалуйста введите тип работ">
              <nz-select nzMode="tags" [nzMaxTagCount]="1" [nzMaxMultipleCount]="1"
                [nzMaxTagPlaceholder]="tagPlaceHolder3" nzPlaceHolder="Введите тип работ" id="type"
                [(ngModel)]="listOfSelectedTypes" nzShowSearch nzAllowClear name="type">
                <ng-template #tagPlaceHolder3 let-selectedList>and {{ selectedList.length }} more selected</ng-template>
                <nz-option *ngFor="let item of listOfTypes" [nzLabel]="item" [nzValue]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="9" nzMd="8" nzLg="6">
          <nz-form-item>
            <nz-form-label>
              <span>Площадь объекта, м<sup><small>2</small></sup></span>
            </nz-form-label>
            <nz-form-control nzErrorTip="Пожалуйста введите площадь объекта">
              <nz-input-number [(ngModel)]="space" [nzMin]="1" [nzMax]="10000" [nzStep]="10" id="space"
                name="space"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="7">
          <nz-form-item>
            <nz-form-label>
              <span>Отвественные</span>
            </nz-form-label>
            <nz-form-control nzErrorTip="Пожалуйста выберите Отвественных">
              <nz-select nzMode="tags" [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder4"
                nzPlaceHolder="Выберите отвественных" id="responsibles" [(ngModel)]="listOfSelectedResponsibles"
                (nzOnSearch)="changeUser($event)" nzShowSearch nzAllowClear name="responsibles">
                <ng-template #tagPlaceHolder4 let-selectedList>and {{ selectedList.length }} more selected</ng-template>
                <nz-option *ngFor="let item of listOfResponsibles" [nzLabel]="item" [nzValue]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6">
          <nz-form-item>
            <nz-form-label>
              <span>Статус проекта</span>
            </nz-form-label>
            <nz-form-control nzErrorTip="Пожалуйста выберите статус">
              <nz-select nzMode="tags" [nzMaxTagCount]="1" [nzMaxMultipleCount]="1"
                [nzMaxTagPlaceholder]="tagPlaceHolder4" nzPlaceHolder="Выберите статус" id="status"
                [(ngModel)]="listOfSelectedStatus" nzShowSearch nzAllowClear name="statuslist">
                <ng-template #tagPlaceHolder4 let-selectedList>and {{ selectedList.length }} more selected</ng-template>
                <nz-option *ngFor="let item of listOfStatus" [nzLabel]="item" [nzValue]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
          <h2>Фотографии</h2>
          <div class="clearfix">
            <nz-upload nzListType="picture-card"
              [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 8" [nzPreview]="handlePreview">
              <div>
                <span nz-icon nzType="plus"></span>
                <div style="margin-top: 8px">Фото объекта</div>
              </div>
            </nz-upload>
            <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
              (nzOnCancel)="previewVisible = false" style="width: 100%">
              <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
              </ng-template>
            </nz-modal>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
          <h2>Документы</h2>
          <nz-upload nzType="drag" [nzMultiple]="true"
            (nzChange)="handleChange($event)" style="display: inline-block;width: 100%"
            [(nzFileList)]="fileListFiles"
            >
            <p class="ant-upload-drag-icon">
              <span nz-icon nzType="inbox"></span>
            </p>
            <p class="ant-upload-text">Нажмите или перетащите сюда нужные документы</p>
          </nz-upload>
        </div>
        <div nz-col nzXs="24" style="margin-top: 24px;">
          <div nz-row [nzGutter]="[8,0]">
            <div nz-col nzXs="24" nzLg="18">
              <h4 nz-typography style="text-align: left">Этапы:</h4>
            </div>
            <div nz-col nzXs="24" nzLg="6" style="display:flex;justify-content: space-between;">
              <div>
                <button nz-button nzType="default" nzType="primary" (click)="addStage(selectedStage)">Добавить
                  этап</button>
              </div>
              <div>
                <button nz-button nzType="default" nzDanger (click)="deleteStage(selectedStage)">Удалить этап</button>
              </div>
            </div>
          </div>
          <nz-steps nzType="navigation" [nzCurrent]="selectedStage" (nzIndexChange)="onStageChange($event)">
            <nz-step *ngFor="let a of stages" nzTitle={{a.name}} nzStatus={{a.status}}></nz-step>
          </nz-steps>

          <div nz-row [nzGutter]="[8,0]" style="margin-top: 24px;">
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="11">
              <nz-form-item>
                <nz-form-label>
                  <span>Название этапа</span>
                </nz-form-label>
                <nz-form-control nzErrorTip="Пожалуйста введите название этапа">
                  <input nz-input type="text" id="stage.name" [(ngModel)]="stages[selectedStage].name" placeholder="Введите название этапа" name="nameStep" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="7">
              <nz-form-item>
                <nz-form-label>
                  <span>Отвественный</span>
                </nz-form-label>
                <nz-form-control nzErrorTip="Пожалуйста выберите Отвественного">
                  <nz-select nzMode="tags" [nzMaxTagCount]="1" [nzMaxMultipleCount]="1"
                    [nzMaxTagPlaceholder]="tagPlaceHolder5" nzPlaceHolder="Выберите отвественного"
                    id="stage.responsibles" (nzOnSearch)="changeUser($event)" [(ngModel)]="listOfSelectedStageResponsibles[selectedStage]" nzShowSearch nzAllowClear name="factus">
                    <ng-template #tagPlaceHolder5 let-selectedList>and {{ selectedList.length }} more
                      selected</ng-template>
                    <nz-option *ngFor="let item of listOfResponsibles" [nzLabel]="item" [nzValue]="item"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
              <nz-form-item>
                <nz-form-label>
                  <span>Статус этапа</span>
                </nz-form-label>
                <nz-form-control nzErrorTip="Пожалуйста выберите статус этапа">
                  <nz-select nzMode="tags" [nzMaxTagCount]="1" [nzMaxMultipleCount]="1"
                    [nzMaxTagPlaceholder]="tagPlaceHolder6" nzPlaceHolder="Выберите статус" id="stage.status"
                    [(ngModel)]="listOfSelectedStageStatus[selectedStage]" nzShowSearch nzAllowClear name="status">
                    <ng-template #tagPlaceHolder6 let-selectedList>and {{ selectedList.length }} more
                      selected</ng-template>
                    <nz-option *ngFor="let item of listOfStageStatus" [nzLabel]="item" [nzValue]="item"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
              <nz-form-item>
                <nz-form-label>
                  <span>Дата окончания этапа</span>
                </nz-form-label>
                <nz-form-control nzErrorTip="Пожалуйста введите дату окончания этапа">
                  <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)" name="datus"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="16">
              <nz-form-item>
                <nz-form-label>
                  <span>Описание этапа</span>
                </nz-form-label>
                <nz-form-control nzErrorTip="Пожалуйста введите описание этапа">
                  <textarea rows="2" nz-input [(ngModel)]="stages[selectedStage].desc" name="datus"></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
              <h2>Фотографии</h2>
              <div class="clearfix">
                <nz-upload nzListType="picture-card"
                  [(nzFileList)]="fileListImagesStage[selectedStage]" [nzShowButton]="fileList.length < 8" [nzPreview]="handlePreview">
                  <div>
                    <span nz-icon nzType="plus"></span>
                    <div style="margin-top: 8px">Фото объекта</div>
                  </div>
                </nz-upload>
                <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                  (nzOnCancel)="previewVisible = false" style="width: 100%">
                  <ng-template #modalContent>
                    <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                  </ng-template>
                </nz-modal>
              </div>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <h2>Документы</h2>
              <nz-upload nzType="drag" [nzMultiple]="true"
                style="display: inline-block;width: 100%"
                [(nzFileList)]="fileListFilesStage[selectedStage]"
                >
                <p class="ant-upload-drag-icon">
                  <span nz-icon nzType="inbox"></span>
                </p>
                <p class="ant-upload-text">Нажмите или перетащите сюда нужные документы</p>
              </nz-upload>
            </div>




          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
            <nz-form-item style="margin-bottom: 0">
              <nz-form-control [nzSm]="{ span: 8, offset: 8 }" [nzXs]="{ span: 8, offset: 0 }">
                <button type="button" nz-button nzType="primary" nzBlock nzSize="large"
                  style="margin-bottom: 8px; margin-top: 16px" (click)="submitForm()">
                  Создать
                </button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

      </div>
    </form>
  </nz-card>
</div>
