.main{
    max-width: min(90vw, 1200px);
    width: 100%;
    justify-self: center;
    align-self: center;
    // background-color: #fff;
}
.main-wrap{
    // width: 100vw;
    display: flex;
    place-content: center;
}