<nz-breadcrumb>
    <nz-breadcrumb-item>
        <a routerLink="/">Объекты</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a routerLink="/catalog">Информация</a>
    </nz-breadcrumb-item>
</nz-breadcrumb>
<br>
<nz-row [nzGutter]="[24,24]">
    <div nz-col nzXs="24" nzSm="24" nzMd="16">
        <nz-carousel class="photo-carousel">
            <div nz-carousel-content *ngFor="let index of [1,2,3]">
                <h3>{{ index }}</h3>
            </div>
        </nz-carousel>
    </div>
    <div class="adress-info-wrap" nz-col nzXs="24" nzSm="24" nzMd="8">
        <p class="address-text" nz-typography><i class="ri-map-pin-line"></i> ул. Академика Анохина, 17</p>
        <nz-badge nzStatus="processing" nzText="Урегулирование"></nz-badge> <br><br>
        <nz-tag [nzColor]="'geekblue'">Снос</nz-tag>
        <nz-tag [nzColor]="'cyan'">1000 м&#178;</nz-tag>
        <nz-tag [nzColor]="'volcano'">ЮЗАО</nz-tag>
        <nz-tag [nzColor]="'green'">Тропарево-Никулино</nz-tag> <br> <br>
        <h5 nz-typography>Владелец:</h5>
        <div class="user">
            <nz-avatar nzIcon="user"></nz-avatar> <span class="user-span">Петров Петр Петрович</span>
        </div>
        <br>
        <h5 nz-typography>Ответственные:</h5>
        <div class="user"><nz-avatar nzIcon="user"></nz-avatar> <span class="user-span">Иванов Иван Иванович</span>
        </div>

    </div>



    <div class="map" nz-col nzXs="24" nzSm="24" [nzMd]="{span:16}">
        <ya-map style="height: 300px;" [state]="{'controls':[]}" [center]="coords" [zoom]="12">
            <ya-placemark [geometry]="coords">

            </ya-placemark>
        </ya-map>
    </div>


    <div nz-col nzXs="24" nzSm="24" [nzMd]="{span:8}">
        <h5 nz-typography>Документы по объекту:</h5>
        <div class="document">
            <span nz-icon nzType="book" nzTheme="outline"></span>
            <span class="document-span">Акт приемки</span>
        </div>
        <div class="document">
            <span nz-icon nzType="book" nzTheme="outline"></span>
            <span class="document-span">Акт приемки</span>
        </div>
        <div class="document">
            <span nz-icon nzType="book" nzTheme="outline"></span>
            <span class="document-span">Акт приемки</span>
        </div>
        <div class="document">
            <span nz-icon nzType="book" nzTheme="outline"></span>
            <span class="document-span">Акт приемки</span>
        </div>
        <br>
        <div class="document">Посмотреть все документы</div>
    </div>

    <div nz-col nzXs="24" nzSm="24" [nzMd]="16">
        <h4 nz-typography>Описание:</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime laboriosam aspernatur esse consequatur omnis
        expedita, pariatur dolores saepe itaque tempore quia impedit molestias deleniti obcaecati optio excepturi unde
        ipsum dolorum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime laboriosam aspernatur esse consequatur omnis
        expedita, pariatur dolores saepe itaque tempore quia impedit molestias deleniti obcaecati optio excepturi unde
        ipsum dolorum?
    </div>
    <div nz-col nzXs="24">
        <h4 nz-typography>Дорожная карта:</h4>
        <nz-steps nzType="navigation" [nzCurrent]="curStep" (nzIndexChange)="onIndexChange($event)">
            <nz-step nzTitle="Большое название э..." nzStatus="finish"></nz-step>
            <nz-step nzTitle="Step 2" nzStatus="process"></nz-step>
            <nz-step nzTitle="Step 3" nzStatus="wait"></nz-step>
            <nz-step nzTitle="Step 4" nzStatus="wait"></nz-step>
            <nz-step nzTitle="Step 4" nzStatus="wait"></nz-step>
            <nz-step nzTitle="Step 4" nzStatus="wait"></nz-step>
            <nz-step nzTitle="Step 4" nzStatus="wait"></nz-step>
            <nz-step nzTitle="Step 4" nzStatus="wait"></nz-step>
            <nz-step nzTitle="Большое название э..." nzStatus="wait"></nz-step>
        </nz-steps>
    </div>
    <div nz-col nzXs="24">
        <h4 nz-typography><nz-badge nzStatus="processing"></nz-badge>Название этапа</h4>
        <p>Описание этапа, что сделано, что требуется сделать, что ожидать от этапа и тд
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolore perspiciatis dicta voluptatem, esse
            ducimus totam ullam quam recusandae quis ex officiis blanditiis repellendus exercitationem itaque tempora,
            accusamus architecto eius?
        </p>
        <div class="step-dates">
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            <span class="step-dates-span">29.04.2023 - 15.06.2023</span>
        </div> <br>
        <h5 nz-typography>Документы по этапу:</h5>
        <div class="document">
            <span nz-icon nzType="book" nzTheme="outline"></span>
            <span class="document-span">Акт приемки</span>
        </div>
        <div class="document">
            <span nz-icon nzType="book" nzTheme="outline"></span>
            <span class="document-span">Акт приемки</span>
        </div> <br>
        <h5 nz-typography>Фотоотчёт:</h5>
        <nz-carousel class="photo-carousel">
            <div nz-carousel-content *ngFor="let index of [1,2,3]">
                <!-- <h3>{{ index }}</h3> -->
            </div>
        </nz-carousel>
    </div>
</nz-row>